body{
    background-color: #1a1625;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 40px;
    background-color: #382bf0;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}